<html>
    <head>
        <title>RS button</title>
        <link rel="stylesheet" href="style.css">
        <script src="myscript.js"></script>
    </head>
    <body> 
        <div>
            <input type="submit" value="Submit" class="btn-s primary-a"/>
            <input type="submit" value="Submit" class="btn-s secondary-a"/>
        </div>
        <div>
            <input type="submit" value="Submit" class="btn-m primary-b"/>
            <input type="submit" value="Submit" class="btn-m secondary-b"/>
        </div>
        <div>
            <input type="submit" value="Submit" class="btn-l primary-c"/>
            <input type="submit" value="Submit" class="btn-l secondary-c"/>
        </div>
    </body>
</html>