<html>
    <head>
        <title>RS button</title>
        <link rel="stylesheet" href="style.css">
        <script src="myscript.js"></script>
    </head>
    <body>
        <input type="submit" value="Submit" class="button-s primary-a"/>
        <input type="submit" value="Submit" class="button-s secondary-a"/>
        <input type="submit" value="Submit" class="button-m primary-b"/>
        <input type="submit" value="Submit" class="button-m secondary-b"/>
        <input type="submit" value="Submit" class="button-l primary-c"/>
        <input type="submit" value="Submit" class="button-l secondary-c"/>
    </body>
</html>