.btn-s {
    font-size: 16px
}
.btn-m {
    font-size: 18px
}
.btn-l {
    font-size: 20px;
}

.primary-a {
    border-radius: 5px;
    padding: 10px 5px;
    border-color: #000;
    background-color: #000;
    color: white;
}
.secondary-a {
    border-radius: 5px;
    padding: 10px 5px;
    background-color: #ecf0f1;
    border-color: #ecf0f1;
    margin-right: 20px;
    margin-left: 20px;
}

.primary-b {
    border-radius: 5px;
    padding: 10px 5px;
    border-color: #000;
    background-color: #000;
    color: white;
    
}
.secondary-b {
    border-radius: 5px;
    padding: 10px 5px;
    border-color: #ecf0f1;
    background-color: #ecf0f1;
    margin-left: 20px;
}

.primary-c {
    border-radius: 5px;
    padding: 10px 5px;
    border-color: #000;
    background-color: #000;
    color: white;
}
.secondary-c {
    border-radius: 5px;
    padding: 10px 5px;
    border-color: #ecf0f1;
    background-color: #ecf0f1;
    margin-left: 20px;
}